{% extends "base.html" %}
{% load static %}

{% block title %}예측 운동 확인{% endblock %}

{% block content %}
 <style>
    /* 로딩 오버레이 스타일 */
    #loadingOverlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 9999;
      text-align: center;
    }
    #loadingOverlay img {
      margin-top: 20%;
    }
  </style>
          <h1 class="mb-4">예측된 운동</h1>
          <p class="fs-5">{{ workout }}</p>
          <p class="text-muted">예측된 운동이 맞습니까?</p>
        <div class="forms-container">
          <!-- YES 버튼 폼 -->
          <form id="yesForm" action="{% url 'pose:predict' %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="workout" value="{{ workout }}">
            <input type="hidden" name="keypoint" value='{{ keypoint|safe}}'>
            <button id="yesButton" type="submit" class="btn btn-primary custom-btn">Yes</button>
          </form>

          <!-- NO 버튼 폼 -->
          <form id="noForm" action="{% url 'pose:workout_select' %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="keypoint" value='{{ keypoint|safe}}'>
            <button type="submit" class="btn btn-primary custom-btn">No</button>
          </form>
        </div>


  <!-- 로딩 오버레이 -->
  <div id="loadingOverlay">
    <img src="https://i.gifer.com/ZKZg.gif" alt="로딩중...">
  </div>

  <script>
    // 폼 제출 시 로딩 오버레이를 표시
    $(function(){
      $('#yesForm').on('submit', function(){
         $('#loadingOverlay').show();
      });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
