{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <div class="logo-container">
        <img src="{% static 'img/logo.png' %}" alt="로고" class="logo">
    </div>
    {% include "header.html" %}

    <div class="button-container">
        <div class="btn-wrapper">
            <div class="btn-text">체형 예측</div>
        <a href="/body_type/" class="btn" style="background-image: url('{% static 'img/body.png' %}');"></a>
        </div>
        <div class="btn-wrapper">
            <div class="btn-text">식단 추천</div>
        <a href="/diet/" class="btn" style="background-image: url('{% static 'img/food.png' %}');"></a>
        </div>
        <div class="btn-wrapper">
            <div class="btn-text">운동 자세 분석</div>
        <a href="/pose/" class="btn" style="background-image: url('{% static 'img/pose.png' %}');"></a>
        </div>
    </div>
    {% include "footer.html" with year=2025 %}
</body>