{% extends "base.html" %}
{% load static %}

{% block title %}사진 업로드{% endblock %}

{% block content %}
    <h2 class="mb-4">사진을 업로드하세요</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-4 bg-white shadow rounded">
                <form method="post" enctype="multipart/form-data" class="text-start">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary custom-btn">예측하기</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}