{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FitAI-Pro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-light text-center">
    <div class="logo-container">
        <a href="/" class="logo-link">
         <img src="{% static 'img/logo.png' %}" alt="로고" class="logo">
        </a>
    </div>

    <!-- 네비게이션 바 포함 -->
    {% include "header.html" %}

    <!-- 페이지별 컨텐츠가 삽입될 영역 -->
    <div class="container mt-5">
       <div class="wrapper">
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </div>

    <!-- Bootstrap JS -->
    {% include "footer.html" with year=2025 %}
</body>
</html>
